.search__title {
    color: white;
    text-transform: uppercase;
}

.search__input {
    display: block;
    height: 36px;
    margin: 20px 0;
}

.search__input > .custom__input {
    background: black;
    color: white;
}

.search__container {
    display: flex;
    justify-content: space-between;
}

.search__button {
    height: 30px;
    width: 160px;
    background: deeppink;
    margin: 0;
}