.sort-filter {
    background: lightgrey;
    margin: 0 auto;
}

.sort-filter__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sort-filter__container {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.sort-filter__button {
    background: none;
    color: black;
    text-transform: lowercase;
}

.sort-filter__button--active {
    color: deeppink;
}