.wrapper {
    position: relative;
}

.custom__input {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
    padding: 0 3%;
}

.underline {
    background: red;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: width 0.5s ease-in;
}
.custom__input:focus {
    outline: none;
}
.custom__input:focus ~.underline {
    height: 1px;
    width: 100%;
}