.footer {
    height: 100px;
    background: dimgrey;
}

.footer__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.footer__title {
    color: red;
}