.film-preview__wrapper {
    max-width: 25%;
    margin: 50px 25px;
}

.film-preview__image {
    width: 100%;
}

.film-preview__name-date-container {
    display: flex;
    justify-content: space-between;
}

.film-preview__date {
    border: 1px solid black;
    padding: 2px 10px;
}

.film-preview__genre {
    padding: 2px;
}