.film-list__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.no-films {
    height: 300px;
}

.film-list__not-found {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.not-found {
    height: 300px;
    text-align: center;
    position: relative;
}

.not-found > h2 {
    position: relative;
    top:50%;
    transform:translateY(-50%);
}
