.selected-film__wrapper {
    display: flex;
    flex-direction: row;
    color: white;
    margin: 40px 0;
    height: 80%;
}

.selected-film__name {
    color: deeppink;
    font-size: 32px;
}

.container {
    display: flex;
    align-items: center;
}

.selected-film__vote-average{
    margin-left: 15px;
    border: 1px solid silver;
    border-radius: 50%;
    padding: 5px;
}

.selected-film__tagline {
    color: silver;
    font-size: 16px;
    margin-bottom: 10px;
}

.selected-film__release-date {
    margin-right: 40px;
}

.selected-film__overview {
    color: silver;
    margin-top: 20px;
}

.selected-film__image-wrapper {
    max-width: 100%;
    margin-right: 100px;
}

.selected-film_poster {
    width: 300px
}